.cuerpo-principal {
    margin-top: 135px;
    padding-bottom: 40px;
}

.pie-pagina-principal{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 35px;
    background: #F1F2F6;;
}

/* .contenido-pie-pagina{
    
} */


.fondo-opc{
    color: #27187E;
}