
<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #e1e1e1;">
    <div class="container-fluid mx-5">
        <a class="navbar-brand" href="#">
            <img src="assets/img/Modern Business Numerical Logo.png" alt="AAAAAAAAA" width="100" height="100" class="d-inline-block align-text-top">
            <!-- Bootstrap -->
          </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active mx-3 btn" href="#">Ingresar Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-3 btn" href="#">Ingresar Notas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active mx-3 btn">Ingresar Exámen</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active mx-3 btn">Calcular Promedios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-block" style="margin-top: 130px;">
    <p class="texto-titulo texto-sombra">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, eligendi rem illo eveniet culpa laboriosam numquam eos voluptate eius doloribus reiciendis doloremque magni quo veniam qui voluptatum similique esse quas.
    </p>
    <p class="texto-medio">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae laudantium sed id quam obcaecati, minima ullam maiores reiciendis expedita sapiente libero provident officiis earum eum odio odit placeat voluptate consequuntur soluta ipsum veniam. Voluptas esse dolores rem illo nisi consequatur dignissimos?
    </p>
    <p class="texto-normal">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam optio cupiditate fuga a voluptas amet non exercitationem soluta quisquam delectus reprehenderit molestias praesentium, necessitatibus voluptatum commodi esse autem nobis repudiandae velit perspiciatis inventore? Blanditiis, vel aliquid est explicabo sint eum porro assumenda quae impedit atque sapiente iusto beatae, ab architecto ipsam possimus a quos magnam nobis. Ducimus quae, earum aut hic tempore doloribus beatae corporis, quisquam magni, minima aliquam omnis nostrum? Repudiandae autem corrupti ab sint, necessitatibus incidunt veniam illo minima quos? Pariatur, distinctio sint! Nostrum reprehenderit optio dolorum beatae dolorem veritatis eos inventore. Deleniti exercitationem tempora ducimus delectus vero.
    </p>
</div>


